.score_wraper{
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid green; */
    width: 90%;
}
.card_wraper{
    margin-top: 40px;
    /* border: 2px solid brown; */
    width: 60%;
}
.card_content{
    min-width: 600px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}